.dmg-read-more-editor-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
	.components-button {
		display: flex;
		padding-left: 20px;
		padding-right: 20px;
		background-color: #333333 !important;
		color: white !important;
	}
}
